body {
    margin: 0px;
    background-image: url("images/background.png");
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}

.container {
    margin: auto;
    padding: 0px;
}

.header-banner {
    text-align: center;
    width: 100%;
    background-image: url("images/bannerbg.png");
}

.header-banner>img {
    margin: auto;
}

.header-title {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

.big-percent {
    font-size: 48pt;
    font-weight: bold;
    color: red;
    position: absolute;
}

.container-content {
    margin: auto;
    width: 800px;
    border-width: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: gray;
    overflow: hidden;
}

.container-content::after {
    clear: both;
    content: "";
    display: table;
}

.header-percent {
    background-image: url("images/rbg.png");
    height: 83px;
}

.border-gray {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    margin-top: 2px;
}

.main-section img {
    float: left;
    margin-right: 5px;
}

.main-section::after {
    clear: both;
}

.left-content {
    float: left;
    width: 550px;
}

.right-content {
    float: left;
    width: 250px;
    background-color: #A2B964;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

.right-content dl {
    padding: 10pt;
}

.right-content::after {
    clear: both;
}

.bottom-content {
    float: left;
    width: 100%;
    background-color: #A2B964;
    text-align: center;
}

.main-section {
    column-count: 2;
    padding: 2%;
    /* vertical-align: top; */
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.text-bold {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    margin-top: 2px;
}

dt {
    font-weight: bold;
    margin-top: 10pt;
}

.validation {
    text-align: right;
    padding: 10px;
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}