body {
    font-family: fantasy;
}

.course {
    background-color: beige;
    padding: 10px;
}

.course>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
}

.book {
    background-color: blanchedalmond;
    padding: 10px;
}

.book>h2 {
    color: green;
}

.book>ol>li>p {
    font-weight: bold;
}

.book p::first-letter {
    font-size: 2em;
}

dl dt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: deeppink;
    font-weight: bold;
    font-size: 1em;
}

dl dd {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.9em;
}

.mood>h2 {
    color: blueviolet;
}

.mood>div>span {
    font-size: 30px;
    color: cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mood {
    background-color: floralwhite;
    padding: 10px;
}

.fact>h2 {
    color: darkblue;
}

.fact {
    background-color: darkkhaki;
    padding: 10px;
}

a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: black;
    font-style: unset;
    text-decoration: underline;
}

.neighboor {
    color: red;
    font-size: 20px;
    font-family: fantasy;
}